<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493335100398-r7p1k1iplh372gopgiuq4gqpitnfo5nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493335100398-r7p1k1iplh372gopgiuq4gqpitnfo5nt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>493335100398-e83kab3ev12rihm1e4uf1iv6g0gmrk84.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbh_PHbgN1Ox-CnZRIKTlujta6Ax-p6Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>493335100398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eitansela</string>
	<key>PROJECT_ID</key>
	<string>note-f5631</string>
	<key>STORAGE_BUCKET</key>
	<string>note-f5631.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493335100398:ios:fe2c7d245be7289ff9ecff</string>
</dict>
</plist>